{% extends "blogs/base.html" %}

{% block page_header %}
    <h3>Blogs Posted</h3>
{% endblock page_header %}

{% block content %}

{% for blog in blogposted %}
    <style>
        .date-right {
            float: right;
        }
    </style>

    <div class="card mb-5">
        <h4 class="card-header">
            <span>{{ blog.owner }} | {{blog.title}}</span> 
            <span class="date-right">{{ blog.date_added|date:'M d - Y' }}</span>
        </h4>
        <div class="card-body">
            {{blog.text}}
        </div>
        <div class="card-footer">
            <a href="{% url "blogs:edit_blog"  blog.id %}" class="card-link">Edit</a>
            <a href="{% url "blogs:delete_post"  blog.id %}" class="card-link">Delete</a>   
        </div>
    </div>
{% empty %}
    <p>Nothing posted yet!</p>
{% endfor %}

{% endblock content %}